<script>
import {moneySign} from "../store";
import {Modal} from "sveltestrap";
let isOpen = false;
const toggle = () => (isOpen = !isOpen);
</script>

<span
  class="money-sign"
  on:click={toggle}
  on:keydown={toggle}
  title="Clique pour changer la monnaie affichée">{$moneySign}</span
>

<Modal {isOpen} {toggle} header="Changer la monnaie affichée">
  <!-- included in form so we can tap "Enter" and close the modal -->
  <form on:submit|preventDefault={toggle}>
    <input autofocus class="bg-none" bind:value={$moneySign} maxlength="1" />
  </form>
</Modal>
