<script>
import {categories} from "../../CONFIGURATION";
import {inventoryRows} from "../store";
import ImageUpload from "../uploads/ImageUpload.svelte";
import PdfUpload from "../uploads/PdfUpload.svelte";
import {Icon, Button, Collapse} from "sveltestrap";
import DontForgetCheckbox from "../layout/DontForgetCheckbox.svelte";
import debounce from "just-debounce-it";
import MoneySign from "../helpers/MoneySign.svelte";

export let rowData;

// Set the custom fields dict
rowData.customFields = {};

let descriptionArea;
let hasAmountFormula;

let selectedCategory = categories.find((c) => c.name === rowData.type);

// Manage switch between free input and select input for category
let hasChosenOtherType = false;
$: if (selectedCategory) hasChosenOtherType = false;
$: if (rowData.type === "Autre") {
  hasChosenOtherType = true;
  rowData.type = "";
}

// Sort categories by name
categories.sort((a, b) => a.name.localeCompare(b.name));

// Let some time before updating the category with the free input
const handleCategoryInput = debounce((event) => {
  rowData.type = event.target.value;
}, 500);

const autoResizeTextarea = () => {
  if (descriptionArea) {
    descriptionArea.style.height = "";
    descriptionArea.style.height = descriptionArea.scrollHeight + "px";
  }
};

// Fill the description if the user has not touched it or if empty and there is a template for the category
let touchedDescription = false;
$: if (rowData.type && !touchedDescription) {
  rowData.description = categories.find((c) => c.name === rowData.type)?.template?.join("\n");
  autoResizeTextarea();
  if (rowData.category && rowData.category.amountFormula) {
    calculateAmount();
  }
}

// Set the current category
$: rowData.category = categories.find((c) => c.name === rowData.type);

$: hasAmountFormula =
  typeof rowData.category?.amountFormula === "function" && rowData.category?.additionalInputFields;

// Calculation of the amount with the formula defined in the conf file
const calculateAmount = () => {
  rowData.amount = rowData.category.amountFormula(rowData.customFields);
};
</script>

<tr>
  <!-- CATEGORY -->
  <td>
    <!-- delete line button -->
    <Button
      color="danger"
      class="d-print-none cut"
      on:click={() => inventoryRows.removeRow(rowData)}
    >
      <Icon name="trash" />
    </Button>

    <!-- if the category is not blank, or does not match any of the existing ones, it means the user clicked on "Autre" -->
    {#if !hasChosenOtherType}
      <select bind:value={rowData.type}>
        {#each categories as category}
          <option>{category.name}</option>
        {/each}
        <!-- If the user selects "Autre", transform the select into a free input -->
        <option>Autre</option>
      </select>
    {:else}
      <div class="d-inline-flex">
        <input autofocus value={rowData.type} on:input={handleCategoryInput} maxlength="31" />
        <Button
          color="danger"
          title="Revenir aux catégories déjà définies"
          size="sm"
          class="d-print-none py-0 px-1"
          style="margin-left: 0.25em; "
          outline
          on:click={() => {
            hasChosenOtherType = false;
            rowData.type = "";
          }}
        >
          <Icon name="x" />
        </Button>
      </div>
    {/if}
  </td>

  <!-- DESCRIPTION -->
  <td>
    <!-- In any case, we display the description area. -->
    <Collapse isOpen class="overflow-visible">
      <textarea
        bind:this={descriptionArea}
        bind:value={rowData.description}
        on:input={() => {
          autoResizeTextarea();
          touchedDescription = true;
        }}
      />

      {#if rowData.type && rowData.category && rowData.category.additionalInputFields?.length > 0}
        <!-- If there are additionnal fields in the conf file, we loop on those fields.
            If there is none, we only display the description area below. -->
        <table style="margin-top: 5px">
          <tbody>
            {#each rowData.category.additionalInputFields as additionalInputField}
              <tr>
                <th class="inside-th"> {additionalInputField.label} </th>
                <td>
                  {#if additionalInputField.inputType === "number"}
                    <input
                      type="number"
                      style="text-align: center"
                      bind:value={rowData.customFields[additionalInputField.key]}
                      on:input={calculateAmount}
                    />
                  {:else if additionalInputField.inputType === "select"}
                    <select
                      style="text-align: center"
                      bind:value={rowData.customFields[additionalInputField.key]}
                      on:change={calculateAmount}
                    >
                      {#each additionalInputField.values as elem}
                        <option value={elem.value}>{elem.label}</option>
                      {/each}
                    </select>
                  {/if}
                </td>
              </tr>
            {/each}
          </tbody>
        </table>
      {/if}
    </Collapse>
  </td>

  <!-- AMOUNT -->
  <td>
    <!-- Depending on whether the amount is calculater or manual, we display either an input number
      field or a read-only field -->
    <Collapse isOpen class="d-flex overflow-visible">
      {#if !rowData.category || rowData.category.amountField === "manual"}
        <input type="number" bind:value={rowData.amount} />
      {:else}
        <div style="text-align: right; width: 100%">{rowData.amount || 0}</div>
      {/if}
      <MoneySign />
    </Collapse>
  </td>
</tr>

<!-- CHECKBOXES AND FILES UPLOAD ROW -->
<tr class="d-print-none">
  <td colspan="3" class="border-0 p-0">
    <Collapse isOpen>
      <div class="d-grid gap-3 mb-4 divider">
        <Collapse isOpen={rowData.type}>
          <div class="list-group">
            <DontForgetCheckbox bind:rowData inline />
          </div>
        </Collapse>
        <ImageUpload multiple bind:uploadedImages={rowData.uploadedImages} />
        <PdfUpload multiple bind:uploadedPdfs={rowData.uploadedPdfs} thumbnail={true} />
      </div>
    </Collapse>
  </td>
</tr>
