<script>
import {inventoryRows} from "../store";
import InventoryRow from "./InventoryRow.svelte";
import {Button, Icon} from "sveltestrap";
import MoneySign from "../helpers/MoneySign.svelte";
import {refundSpecification, warningRefundTooLarge} from "../../CONFIGURATION";
import Paragraph from "../helpers/Paragraph.svelte";

export let toPayBack;

// Total amount = sum of all the rows (round with 2 digits)
$: totalAmount =
  Math.round($inventoryRows.reduce((sum, row) => sum + (row.amount || 0), 0) * 100) / 100;
</script>

<!-- List of categories for the "type" column -->
<table class="inventory bg-white">
  <colgroup>
    <col style="width: 30%; min-width: 120px" />
    <col style="width: 60%; min-width: 120px" />
    <col style="width: 10%; min-width: 90px" />
  </colgroup>
  <tr>
    <th><span>Type</span></th>
    <th><span>Description</span></th>
    <th><span>Montant</span></th>
  </tr>
  {#each $inventoryRows as rowData (rowData)}
    <InventoryRow bind:rowData />
  {/each}
</table>

<!-- this div helps keep the footer notes below the tables because those ones are floating elements -->
<div class="clearfix">
  <!-- "Add line" button -->
  <Button
    color="primary"
    class="d-print-none add fw-bold float-start"
    on:click={inventoryRows.addRow}
  >
    <Icon name="plus-square" />
    Ajouter une ligne
  </Button>

  <!-- TOTAL BALANCE TABLE: total amount, and amount to pay back -->
  <table class="balance float-end">
    <tr>
      <th>Total</th>
      <td>
        {totalAmount || 0}
        <MoneySign />
      </td>
    </tr>
    {#if refundSpecification.length > 0}
      <tr>
        <td colspan="2" class="mb-4 d-print-none text-secondary">
          <Paragraph text={refundSpecification} />
        </td>
      </tr>
    {/if}
    <tr>
      <th>À rembourser</th>
      <td class="d-inline-flex">
        <input type="number" bind:value={toPayBack} />
        <MoneySign />
      </td>
    </tr>
    {#if toPayBack > totalAmount}
      <tr>
        <td colspan="2" class="mb-4 d-print-none text-secondary">
          <Paragraph text={warningRefundTooLarge} />
        </td>
      </tr>
    {/if}
  </table>
</div>
