<script>
import {fileToImageURL} from "./fileUploadsHelpers";
import ObjectGallery from "./ObjectGallery.svelte";
import {Input, Image} from "sveltestrap";

export let uploadedImages,
  multiple = false;

const handleImageUpload = async (event) => {
  const fileList = event.target.files;
  const fileArray = fileList ? Array.from(fileList) : [];

  // Uploaded images are read and the app state is updated.
  uploadedImages = [...uploadedImages, ...(await Promise.all(fileArray.map(fileToImageURL)))];

  // Reset the input text
  document.getElementById("inputImage").value = "";
};
</script>

<div class="d-grid gap-1">
  {#if uploadedImages.length === 0 || multiple}
    <label for="inputImage">
      Télécharger
      {#if multiple}
        de nouvelles <strong>images</strong>
      {:else}
        une <strong>image</strong>
      {/if}
      (.png, .jpg, ...) :
    </label>
    <Input
      type="file"
      {multiple}
      accept="image/*"
      style="width: unset"
      id="inputImage"
      on:change={handleImageUpload}
    />
  {/if}

  <ObjectGallery bind:items={uploadedImages} let:item={src}>
    <Image thumbnail {src} style="height: min(max(100px, 15vw), 200px); width: auto" />
  </ObjectGallery>
</div>
