<script>
import {Collapse, Button, Icon} from "sveltestrap";

export let items;

const removeItem = (item) => () => (items = items.filter((item2) => item !== item2));
</script>

{#if items?.length > 0}
  <Collapse isOpen={items.length > 0} class="overflow-visible">
    <div class="d-flex flex-wrap gap-2 mt-3">
      {#each items as item (item)}
        <div class="mb-2 flex-shrink-0 flex-grow-0">
          <Button
            color="danger"
            size="sm"
            class="position-relative align-top"
            on:click={removeItem(item)}
            style="top: 0; margin-top: -8px; left: 24px; margin-left: -24px"
          >
            <Icon name="x-lg" />
          </Button>

          <slot {item} />
        </div>
      {/each}
    </div>
  </Collapse>
{/if}
