<script>
export let pageNumber, pdfDocument, forceWidth, thumbnail;

let availableWidth;

const generatePage = async (canvas) => {
  // get handle of page
  let page;
  try {
    page = await pdfDocument.getPage(pageNumber);
  } catch (error) {
    alert(error.message);
  }

  if (thumbnail) {
    canvas.width = 200;
  } else {
    canvas.width = forceWidth ? forceWidth : availableWidth;
  }

  // original width of the pdf page at scale 1
  const pdfOriginalWidth = page.getViewport(1).width;
  // as the canvas is of a fixed width we need to adjust the scale of the viewport where page is rendered
  const scaleRequired = canvas.width / pdfOriginalWidth;
  // get viewport to render the page at required scale
  const viewport = page.getViewport(scaleRequired);
  // set canvas height same as viewport height
  if (thumbnail) {
    canvas.height = 200;
  } else {
    canvas.height = viewport.height;
  }

  // render the page contents in the canvas
  try {
    await page.render({
      canvasContext: canvas.getContext("2d"),
      viewport: viewport,
    });
  } catch (error) {
    alert(error.message);
  }
};
</script>

{#if thumbnail}
  <canvas
    use:generatePage
    class="border rounded p-1"
    style="height: min(max(100px, 15vw), 200px); width: auto"
  />
{:else}
  <div class="mt-2 no-page-break-inside" bind:offsetWidth={availableWidth}>
    <div>Page {pageNumber} sur {pdfDocument.numPages}</div>
    <canvas use:generatePage class="border rounded p-1" style="max-height: 27cm" />
  </div>
{/if}
