<script>
import {fileToPdfDocument} from "./fileUploadsHelpers";
import PdfPage from "./PdfPage.svelte";
import ObjectGallery from "./ObjectGallery.svelte";
import {Input} from "sveltestrap";

export let uploadedPdfs,
  thumbnail,
  multiple = false;

const handlePdfUpload = async (event) => {
  const fileList = event.target.files;
  const fileArray = fileList ? Array.from(fileList) : [];

  // Uploaded files are read as PDF documents, and the app state is updated.
  uploadedPdfs = [...uploadedPdfs, ...(await Promise.all(fileArray.map(fileToPdfDocument)))];

  // Reset the input text
  document.getElementById("inputPdf").value = "";
};
</script>

<div class="d-grid gap-1">
  {#if uploadedPdfs.length === 0 || multiple}
    <label for="inputPdf">
      Télécharger
      {#if multiple}
        de nouveaux <strong>fichiers PDF</strong>
      {:else}
        un <strong>fichier PDF</strong>
      {/if}
      :
    </label>
    <Input
      type="file"
      {multiple}
      accept="application/pdf"
      style="width: unset"
      id="inputPdf"
      on:change={handlePdfUpload}
    />
  {/if}

  <ObjectGallery bind:items={uploadedPdfs} let:item={pdfDocument}>
    <PdfPage pageNumber={1} {thumbnail} {pdfDocument} />
  </ObjectGallery>
</div>
