<script>
import {currentOrga, billTitle, inventoryRows, nextOrga, ribUpload} from "./store";
import {generalTips, pageFooter, webPageInfo} from "../CONFIGURATION";
import {getTodaysDate} from "./helpers";
import InventoryTable from "./inventoryTable/InventoryTable.svelte";
import PrintBillFooter from "./layout/PrintBillFooter.svelte";
import {Card, Image} from "sveltestrap";
import PdfPage from "./uploads/PdfPage.svelte";
import ChangeOrgaHeader from "./layout/ChangeOrgaHeader.svelte";
import Paragraph from "./helpers/Paragraph.svelte";

// Input values
let personName, // Name of the person
  reason, // Reason of the bill
  toPayBack, // Amount to pay back by the orga
  date = getTodaysDate();

// Tells if all the fields of the bill have been correctly - we need to check that the amounts are neither null nor undefined
$: everythingFilled = !!(
  personName &&
  reason &&
  date &&
  //  place && // 28/02/2023 - Gauthier - Champ retiré
  toPayBack !== undefined &&
  toPayBack !== null &&
  $inventoryRows.every(
    (row) => row.type && row.description && row.amount !== undefined && row.amount !== null
  )
);

// Titling for the web page, the PDF file and the email subject
$: $billTitle = `Note de frais ${$currentOrga.name}${personName ? ` - ${personName}` : ""}${
  reason ? ` - ${reason}` : ""
}`;
$: document.title = $billTitle; // Update the web page title to match

// CSS dynamic styling string, to match with the orga colors. It make the whole app color change
$: document.getElementsByTagName(
  "body"
)[0].style = `--current-orga-color: ${$currentOrga.color}; --next-orga-color: ${$nextOrga.color}`;
</script>

<main class="d-flex flex-column gap-4">
  <!-- Button to change organization -->
  <ChangeOrgaHeader />

  <!-- The sheet of paper -->
  <div id="paper" class="bg-white content rounded shadow">
    <!-- BILL HEADING -->
    <h1 id="heading" class="orga-color">
      Association {$currentOrga.name}<br />
      Note de frais
    </h1>

    <!-- ORGANIZATION NAME AND ADDRESS -->
    <p>
      <strong>Association {$currentOrga.name}</strong><br />
      <em>{@html $currentOrga.legalAddress}</em>
    </p>

    <!-- METADATA TABLE: name, reason, date -->
    <table class="mb-4">
      <colgroup>
        <col style="width: 30%" />
        <col style="width: 70%" />
      </colgroup>
      <tr>
        <th>Nom de la personne à rembourser</th>
        <td><input bind:value={personName} /></td>
      </tr>
      <tr>
        <th>Objet du remboursement</th>
        <td><input bind:value={reason} /></td>
      </tr>
      <tr>
        <th>Date d'émission de la note de frais</th>
        <td><input class="bg-none" bind:value={date} /></td>
      </tr>
      <!-- 28/02/2023 - Champ retiré - Gauthier -->
      <!--
      <tr>
        <th>Lieu d'émission de la note de frais</th>
        <td><input bind:value={place} /></td>
      </tr>
      -->
    </table>

    <!-- General tips -->
    {#if generalTips?.length > 0}
      <Card body class="mb-4 d-print-none text-secondary">
        <Paragraph text={generalTips} />
      </Card>
    {/if}

    <div class="mb-4">
      <!-- INVENTORY TABLE -->
      <InventoryTable bind:toPayBack />
    </div>

    <!-- FOOTER TEXT -->
    <p class="my-1">Pour tout envoi de courrier, l’adresse de correspondance :</p>
    <em class="my-1">{@html $currentOrga.correspondenceAddress}</em>
    <Paragraph text={pageFooter} />

    <!-- ATTACHMENTS -->
    <!-- Generated list of images and documents that have been attached. -->
    <!-- Not visible on the page, but it will appear when we print the NDF -->
    <div class="d-none d-print-block">
      <!-- RIB if given -->
      {#if $ribUpload.pdf.length > 0 || $ribUpload.image.length > 0 || ($ribUpload.bic && $ribUpload.iban)}
        <!-- row title if needed -->
        <h3 class="pt-2 no-page-break-after page-break-before">RIB</h3>

        <p><strong>Nom de la banque : </strong>{$ribUpload.bankName}</p>
        <p><strong>IBAN : </strong>{$ribUpload.iban.toLocaleUpperCase()}</p>
        <p><strong>BIC : </strong>{$ribUpload.bic.toLocaleUpperCase()}</p>

        <div class="pt-2 no-page-break-inside">
          {#if $ribUpload.image.length > 0}
            <Image
              thumbnail
              src={$ribUpload.image[0]}
              style="max-width: 70%; max-height: 22cm; width: auto; height: auto;"
            />
          {:else if $ribUpload.pdf.length > 0}
            {#each Array.from({length: $ribUpload.pdf[0].numPages}, (_, i) => i + 1) as pageNumber}
              <!-- force width so the canvas matches perfectly an A4 printable page format -->
              <PdfPage pdfDocument={$ribUpload.pdf[0]} {pageNumber} forceWidth={600} />
            {/each}
          {/if}
        </div>
      {/if}

      <!-- Then, for each row in the NDF, put a row title, then display all the uploaded images -->
      {#each $inventoryRows as { uploadedImages, uploadedPdfs, type }, lineIndex}
        {#if uploadedPdfs?.length > 0 || uploadedImages?.length > 0}
          <!-- row title if needed -->
          <h3 class="pt-2 no-page-break-after page-break-before">
            Ligne {lineIndex + 1} : {type}
          </h3>

          <!-- all the images of the bill row -->
          {#each uploadedImages as src, imageIndex (src)}
            <div class="pt-2 no-page-break-inside">
              <!-- an image of the bill row -->
              <Image
                thumbnail
                {src}
                style="max-width: 100%; max-height: 27cm; width: auto; height: auto;"
              />
            </div>
          {/each}
          <!-- all the pdf pages of the bill row -->
          <div class="text-center">
            {#each uploadedPdfs as pdfDocument (pdfDocument)}
              <!-- display each page of each uploaded pdf -->
              {#each Array.from({length: pdfDocument.numPages}, (_, i) => i + 1) as pageNumber}
                <!-- force width so the canvas matches perfectly an A4 printable page format -->
                <PdfPage {pdfDocument} {pageNumber} forceWidth={670} />
              {/each}
            {/each}
          </div>
        {/if}
      {/each}
    </div>
  </div>
  <!-- end: The sheet of paper -->

  <!-- Button to open the printing modal -->
  <PrintBillFooter {everythingFilled} />

  <!-- Page footer -->
  <div class="content d-print-none text-center text-white pt-5 opacity-75">
    <Paragraph text={webPageInfo} />
    <div class="mt-5">
      Fait avec amour par
      <a href="https://alternatiba.eu/" alt="Alternatiba">
        <Image
          src="https://alternatiba.eu/wp-content/uploads/2019/02/logo-alternatiba-base-blanc.png"
          width="80"
          alt="Alternatiba"
        />
      </a>
      et
      <a href="https://anv-cop21.org/" alt="ANV-COP21">
        <Image
          src="https://anv-cop21.org/wp-content/uploads/2021/10/logo_anv_blanc.png"
          width="80"
          alt="ANV-COP21"
        />
      </a>
    </div>
  </div>

  <!-- Additional height so it's more ux friendly -->
  <div class="d-print-none" style="height: 300px" />
</main>
