/* BROWSER UPDATE NOTIFICATION */
.buorg {
  border-bottom: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.buorg-pad {
  padding: 20px !important;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.35) !important;
  background-color: #f0f0f0 !important;
  width: 1008px !important;
  max-width: 98.3% !important;
  margin: auto !important;
}

#buorgig {
  background-color: #dea44c !important;
}

.buorg-icon {
  display: none !important;
}

/* UTILITIES */

.bg-none {
  background: transparent !important;
}

/* CUSTOM ORGA COLORS */
body,
.orga-color {
  background: rgb(var(--current-orga-color));
}

.change-orga-button {
  background-color: rgb(var(--next-orga-color), 0.93) !important;
}

.change-orga-button:hover {
  background-color: rgb(var(--next-orga-color)) !important;
}

/* remove dirty black outline on inputs */
select:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

/* add nice outline on inputs */
select:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0 2px 0.1rem rgba(var(--current-orga-color), 0.4) !important;
}

/* HEADING */

#heading {
  font: bold 100% sans-serif;
  letter-spacing: 0.3em;
  font-size: 125%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.25em;
  color: #fff;
  padding: 1em;
  margin: 0 3px 1em 3px;
}

/* TABLES FORMATTING */

table {
  font-size: 90%;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
  margin: -3px;
}

th,
td {
  border-radius: 0.25em;
  position: relative;
  padding: 0.5em;
  text-align: left;
  border: 1px solid transparent;
}

th {
  background: rgba(var(--current-orga-color), 0.8);
  color: #fff;
}

.inside-th {
  background: #fff;
  color: rgba(var(--current-orga-color), 0.8);
  font-weight: normal;
  border-color: rgba(var(--current-orga-color), 0.8);
}

td {
  border-color: rgba(var(--current-orga-color), 0.8);
}

/* PAGE LAYOUT */

.content {
  width: 1000px;
  max-width: 98%;
  align-self: center;
  margin: auto;
}

#paper {
  padding: 4%;
}

/* BALANCE TABLE */

table.balance {
  width: max(50%, 400px);
  max-width: 100%;
}

/* INVENTORY TABLE */

table.inventory {
  clear: both;
  width: 100%;
  border-spacing: 3px 15px;
  margin: -15px -3px 1.5em;
}

/* Make the inventory table header sticky */
table.inventory tr:first-of-type {
  z-index: 40;
  position: sticky;
  top: 5px;
  /* Box shadow to hide the stuff */
  -webkit-box-shadow: inset 0px 0px 0px 26px white, 0px -10px 0px 0px white, 0px 4px 12px 4px white;
  box-shadow: inset 0px 0px 0px 26px white, 0px -10px 0px 0px white, 0px 4px 12px 4px white;
}

table.inventory th {
  font-weight: bold;
  text-align: center;
}

table.balance td {
  text-align: justify;
}

/* CUSTOM CSS FORMATTING */

/* Highlight inputs */
select,
input:not([type="checkbox"], [type="file"]),
textarea {
  border: none;
  border-radius: 0.25em;
  transition: box-shadow 0.2s ease-in;
  background: rgba(255, 255, 0, 0.5);
  max-width: 100%;
  width: 100%;
}

/* Hide arrows in inputs number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Make number inputs suffixed by a € sign */

input[type="number"] {
  text-align: right;
  margin-right: 2px;
  min-width: unset !important;
}

.money-sign {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.money-sign:hover {
  background: deepskyblue;
  color: white;
  border-radius: 0.25em;
}

/* ADD / CUT ROW BUTTONS */

.add,
.cut {
  display: block;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.4);
}

.add {
  margin: -2em 0 2em;
}

.cut {
  opacity: 0;
  position: absolute;
  top: 0.8em;
  left: -2.1em;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

tr:hover .cut,
tr:active .cut {
  opacity: 1;
}

/* SPECIAL PRINTING LAYOUT */
@media print {
  /* set default page margins */
  @page {
    margin: 0.8cm !important;
  }

  /* tell to print exactly what's been displayed, with backgrounds and all */
  * {
    -webkit-print-color-adjust: exact;
  }

  .content {
    max-width: 100%;
  }

  body,
  #paper {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  #heading {
    color: rgb(var(--current-orga-color));
    background: none;
    border: 3px solid rgb(var(--current-orga-color));
  }

  th {
    color: rgb(var(--current-orga-color)) !important;
    background: none !important;
    border: 3px solid rgb(var(--current-orga-color));
  }

  /* Don't make the table inventory header sticky on print */
  table.inventory tr:first-of-type {
    position: unset;
    box-shadow: none;
  }

  /* margins and font size */
  table {
    font-size: 72%;
  }

  table.inventory {
    border-spacing: 3px;
    margin: -3px -3px 1.5em;
  }

  /* hide yellow highlighting and select arrow */
  input,
  select,
  textarea {
    background: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* hide category arrow on input with list */
  input::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  /* Hide modal darken background for print */
  .modal-backdrop {
    display: none !important;
  }

  .no-page-break-inside {
    page-break-inside: avoid;
  }

  .no-page-break-after {
    page-break-after: avoid;
  }

  .page-break-before {
    page-break-before: always;
  }
}
