<script>
import {organizations} from "../../CONFIGURATION";
import {currentOrga, nextOrga} from "../store";

import {Button, Card, Icon} from "sveltestrap";
</script>

{#if organizations.length > 1}
  <Card body class="shadow d-print-none content mt-2 mt-lg-4">
    <!-- Toggle button to change the organization. Does not appear if there is only one orga -->
    <Button class="text-white w-100 change-orga-button" on:click={currentOrga.toggleNext}>
      <Icon name="arrow-left-right" class="m-1" />
      Créer une note de frais {$nextOrga.name}
    </Button>
  </Card>
{:else}
  <!-- If only one orga, put a spacer at the top of the page -->
  <div class="my-lg-3 my-xl-5" />
{/if}
