<script>
import {categories, defaultCategoryInfo} from "../../CONFIGURATION";
import Paragraph from "../helpers/Paragraph.svelte";
import {ListGroupItem} from "sveltestrap";

export let rowData, inline;

let categoryIndex, tips;

const toggleAllAttachments = () =>
  rowData.attachments.forEach((el) => (el.checked = !rowData.checked));

// Change the list of stuff to attach each time it's required, but don't erase checkboxes values when changing
const changeCheckBoxText = (newIndex) => {
  if (categoryIndex !== newIndex) {
    categoryIndex = newIndex;
    const categoryInfo = categories[newIndex];
    if (categoryInfo?.attachments || categoryInfo?.tips) {
      rowData.attachments = categoryInfo.attachments;
      tips = categoryInfo.tips;
    } else {
      rowData.attachments = defaultCategoryInfo.attachments;
      tips = defaultCategoryInfo.tips;
    }
    rowData.attachments = rowData.attachments.map((el) => ({
      name: el,
      checked: rowData.checked,
    }));
  }
};
$: changeCheckBoxText(categories.findIndex((category) => category.name === rowData.type));

// Change the main checkbox if all the sub-checkboxes are checked
$: rowData.checked = !!rowData.attachments?.every((el) => el.checked);
</script>

{#if rowData.type}
  <ListGroupItem class="p-3">
    <input
      type="checkbox"
      class="form-check-input me-1 mt-1"
      bind:checked={rowData.checked}
      on:click={toggleAllAttachments}
    />
    J'ai téléchargé tous les justificatifs
    {inline ? "de cette ligne" : `de la ligne "${rowData.type}"`} :

    <ul class="ml-3 my-2">
      {#each rowData.attachments as attachment}
        <div>
          <input type="checkbox" class="form-check-input me-1" bind:checked={attachment.checked} />
          {attachment.name}
        </div>
      {/each}
    </ul>

    <em class="text-secondary">
      <Paragraph text={tips} />
    </em>
  </ListGroupItem>
{/if}
