<script>
import {categories, defaultCategoryInfo, modalTips} from "../../CONFIGURATION";
import {currentOrga, billTitle, inventoryRows, ribUpload} from "../store";
import DontForgetCheckbox from "./DontForgetCheckbox.svelte";
import {
  Card,
  Button,
  Collapse,
  Icon,
  Modal,
  ModalHeader,
  ModalBody,
  ListGroup,
  ListGroupItem,
} from "sveltestrap";
import Paragraph from "../helpers/Paragraph.svelte";
import {spacify} from "../helpers";
import ImageUpload from "../uploads/ImageUpload.svelte";
import PdfUpload from "../uploads/PdfUpload.svelte";

export let everythingFilled,
  ribCollapseOpen = false;

let modalOpen = false,
  hasPrinted = false,
  everythingOk = true,
  mailComposed = false;

$: $ribUpload.iban = spacify($ribUpload.iban, 4);

const toggleModal = () => {
  modalOpen = !modalOpen;
  // Reinitialize the checks
  hasPrinted = false;
  everythingOk = true;
};

const print = () => {
  calculateEverythingOk();
  if (everythingOk) {
    hasPrinted = everythingOk = true;
    new Promise((resolve) => setTimeout(resolve, 1000)).then(() => window.print());
  }
};

const calculateEverythingOk = () =>
  (everythingOk =
    everythingFilled && mailComposed && $inventoryRows.every((rowData) => rowData.checked));
</script>

<Card body class="shadow d-print-none content">
  <!-- Button that opens the "Are you sure you havent forget anything" modal -->
  <Button color="primary" class="w-100  fw-bold" on:click={toggleModal}>
    <Icon name="download" class="m-1" />
    Imprimer / Télécharger la note de frais
  </Button>
</Card>

<!-- "Are you sure you havent forget anything" modal -->
<Modal isOpen={modalOpen} class="d-print-none" size="xl" toggle={toggleModal}>
  <ModalHeader toggle={toggleModal}>On vérifie tout ça ensemble ?</ModalHeader>
  <ModalBody>
    {#if !everythingFilled}
      <Card body color="warning" class="fw-bold mt-2 mb-4">
        Ta note de frais est incomplète, il te reste des champs en jaune à remplir ! :)
      </Card>
    {:else}
      Ce qu'il te reste à faire :
      <!-- base checkboxes -->
      <ListGroup class="my-2">
        <ListGroupItem class="p-3">
          <input type="checkbox" class="form-check-input me-1" bind:checked={mailComposed} />
          J'ai créé un nouvel email pour {$currentOrga.email} :
          <Button
            color="secondary"
            size="sm"
            href="mailto:{$currentOrga.email}?subject={$billTitle}&body=%0D%0DEnvoyé avec l'application Note de frais 💸 🥳"
            on:click={() => (mailComposed = true)}
          >
            <Icon name="envelope" />
            Générer un brouillon d'email pré-rempli
          </Button>
          <div class="text-secondary">
            Ensuite, n'oublie pas de joindre la note de frais à ton email ! 😉
          </div>
        </ListGroupItem>

        <!-- generated checkboxes-->
        {#each $inventoryRows as rowData, i}
          <DontForgetCheckbox
            {categories}
            on:click={calculateEverythingOk}
            {defaultCategoryInfo}
            bind:rowData
            {i}
          />
        {/each}
      </ListGroup>
    {/if}

    <!-- Tips for the user -->
    {#if modalTips?.length > 0}
      <Card body class="my-4 border-info text-secondary">
        <Paragraph text={modalTips} />
      </Card>
    {/if}

    <!-- Card for first reimbursment, by fulfilling a RIB -->
    <Card body class="my-4 border-info">
      <div class="d-inline">
        C'est ton <strong>premier remboursement</strong> ?
        <Button color="secondary" size="sm" on:click={() => (ribCollapseOpen = true)}>
          <Icon name="bank" />
          Ajoute ton RIB ici !
        </Button>
      </div>
      <Collapse isOpen={ribCollapseOpen} class="d-grid gap-2 mt-2">
        <div>
          <label for="bankName">Nom de la banque :</label>
          <input id="bankName" bind:value={$ribUpload.bankName} placeholder="Société Géniale" />
        </div>
        <div>
          <label for="iban">IBAN :</label>
          <input
            id="iban"
            bind:value={$ribUpload.iban}
            placeholder="FRXX XXXX XXXX XXXX XXXX XXXX XXX"
          />
        </div>
        <div>
          <label for="bic">BIC :</label>
          <input id="bic" bind:value={$ribUpload.bic} placeholder="XXXXXXXX" />
        </div>
        {#if $ribUpload.pdf.length === 0}
          <ImageUpload bind:uploadedImages={$ribUpload.image} />
        {/if}
        {#if $ribUpload.image.length === 0}
          <PdfUpload bind:uploadedPdfs={$ribUpload.pdf} thumbnail={true} />
        {/if}
      </Collapse>
    </Card>

    {#if everythingFilled}
      Pour créer un PDF de la note de frais, clique sur le bouton bleu et choisis "Enregistrer en
      tant que PDF".
      <Collapse isOpen={hasPrinted || !everythingOk}>
        {#if hasPrinted}
          <Card body color="success" class="text-white fw-bold mt-3">
            N'oublie pas de mettre la note de frais en pièce jointe de ton email ! :)
          </Card>
        {/if}
        {#if !everythingOk}
          <Card body color="warning" class="fw-bold mt-3">
            Oups, il manque quelque chose ! Tu dois cocher toutes les cases avant de valider.
          </Card>
        {/if}
      </Collapse>
    {/if}
    <div class="d-grid gap-2 mt-3">
      <!-- Final "Print" button -->
      <Button color="secondary" on:click={toggleModal}>
        <Icon name="arrow-left" class="m-1" />
        Retour à l'édition
      </Button>
      {#if everythingFilled}
        <Button color="primary" on:click={print}>
          <Icon name="download" class="m-1" />
          Je n'ai rien oublié, je crée ma note de frais !
        </Button>
      {/if}
    </div>
  </ModalBody>
</Modal>
